<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
</head>
<body>
    <h1>Create customer</h1>
    <form action="/customers/create" method="post">
        <label>Company:</label>
        <br />
        <input type="text" name="companyname" />
        <br />
        <label>Address:</label>
        <br />
        <input type="text" name="address" />
        <br />
        <label>Number of employees:</label>
        <br />
        <input type="number" name="employeecount" />
        <br />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>